# To configure the project, rename this file to .env and fill in your secrets
# configuration variables needed both ./bot and ./portal 

# this parameter must be either http or https. For local testing this can be
# http, but on production it must be https
PROTOCOL="http"

# just the domain name part of the URL, like "example.com". If under a subdomain, must
# also be included here. Can also be an IP address like "xxx.xxx.xxx.xxx" 
HOST="172.20.0.5"

# the port must be specified here. Leave the field empty for the system to pick
# the default port (i.e 80)
PORT=""

# any subpath used must be entered here. If this is configured, must have a leading
# slash and no trailing slash (for example: "/casbot"). Must be left empty if no
# subpath is used.
SUBPATH=""

MONGO_DATABASE="casbot"
MONGO_URI="mongodb://127.0.0.1:100"

# needed by ./bot
DISCORD_TOKEN=""
BOT_ADMINS=""

# needed by ./portal
CAS_LINK="https://cas.my-org.com/login"
DISCORD_CLIENT_ID=""
DISCORD_SECRET=""
SECRET=""